/* box sizing */
* {
    /* Setting the box sizing as below includes any padding or margins when calculating the height of an element. */
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
}

section {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
    color: white;
    text-shadow: black 0px 0px 3px ;
    margin: 0%;
    height: max-content;
    background-position: center;
    background-size: cover;
    background-image: url('../img/clouds.jpg');
    background-color: #c2daf1;
}

.header-content {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(5px);
}

.header-content img {
  display: block;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
  }

h3 {
    font-size: 1.8em;
    font-weight: 600;
}

h4 {
    font-size: 1.4em;
    font-weight: 400;
}

p {
  font-size: 1.2em;
  /* margin: 1%;
  padding: 1%; */
  line-height: 35px;
  /* padding: 0 15px 0 15px; */
  text-align: center;
}

.row {
    padding-top: 25px;
    padding-bottom: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-small {
  /* float: right; */
  width: 45%;
  text-align: center;
}

.column-large {
  /* float: left; */
  width: 55%
}

.column-small img {
  height: 50vh;
}

#features p {
  text-align: left;
}

.page-nav {
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #0286fa;
}

.page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-nav li {
    display: inline;
}

.page-nav li a {
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s;
}

.page-nav li a:hover {
    -webkit-transition: 0.2s;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.342);
    font-size: larger;
}

#download .column {
  width: 50%;
  text-align: center;
  float: left
}

#download .column img {
  width: 50%;
}

.app-store {
    height: 60px;
    width: auto;
}

#iphone-home {
  padding-top: 30px;
  padding-bottom: 35px;
}

#android-home {
  padding-top: 10px;
  padding-bottom: 30px;
}
  
/* <---ADAPTED FROM W3SCHOOLS.COM---> */

  /* Create three columns of equal width */
  .column {
    float: left;
    width: 33.3%;
    padding: 30px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: rgb(207, 232, 253);
    color: black;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }

  .price .header {
    font-size: 1.8em;
    font-weight: 600;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  /* .button {
    background-color: #0286fa;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
   */
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 800px) {
    .columns {
      width: 100%;
    }
  }

footer {
  background-color: #0286fa;
  padding: 50px;
}

footer p {
  color: #ffffff;
}

.social-icons {
  text-align: center;
}

.social-icons img {
  display: inline-block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 15px;
}

