/* box sizing */
* {
    /* Setting the box sizing as below includes any padding or margins when calculating the height of an element. */
    box-sizing: border-box;
}



header{
    color: white;
    text-shadow: black 0px 0px 3px ;
    margin: 0%;
    height:max-content;
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/header-background.jpg');
}

.header-content{
    height: 200px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

h1,h2,h3{
    margin: 0%;
}

h1 {
    font-size: 4em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

h3 {
    font-size: 1.8em;
    font-weight: 500;
}

h4 {
    font-size: 1.4em;
    font-weight: 400;
}

section{
    margin: 1%;
    padding: 1%;
    align-items: center;
    background-color: rgba(180, 180, 180, 0.171);
}

p {
    font-size: 1.2em;
    margin: 1%;
    padding: 1%;
    line-height: 35px;
    width:100%;
}



body {
    margin: 0 0 0 0;
    font-family: "Montserrat", sans-serif;
}

.content img{
    border: lightgray 5px solid;
    height: 300px;
    margin: 1%;
}

.page-nav {
    
    text-align: center;
    /* The below two lines make the navbar stay at the top of the page when you scroll down so you always have easy access to it without needing to scroll back to the top. */
    /* I used some information from https://www.w3schools.com/css/css_navbar_horizontal.asp to style the navbar */
    position: -webkit-sticky;
    position: sticky;
    /* This ensures there is no space between the navbar and what is above it, eg the header or the top of the browser window */
    top: 0;
    height: max-content;
    /* This creates two  drop shadow effects at the bottom of the navbar. They are black with 20% opacity. In this case, I have chosen a shadow that extends down 4px and has a blur effect, and another than extends down 6px with a stronger blur effect. */
    /* I got information on shadows from https://www.w3schools.com/css/css3_shadows_box.asp */
    background-color: #0286fa;
}

.page-nav ul {
    list-style-type: none;
    font-size: large;
    margin: 0;
    padding: 0;
}

.page-nav li {
    /* This makes each of the list elements display on the same line, rather than each being on a separate line. */
    display: inline;
}

.page-nav li a {
    color: white;
    font-weight: bold;
    /* This makes the navigation links display on the same line, but also enabled their height to be changed */
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s;
}

.page-nav li a:hover {
    -webkit-transition: 0.2s;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.342);
    font-size: larger;
}

.app-store {
    height: 60px;
    width: auto;
}

* {
    box-sizing: border-box;
  }
  
/* <---ADAPTED FROM W3SCHOOLS.COM---> */

  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 30px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: rgb(207, 232, 253);
    color: black;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #0286fa;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 800px) {
    .columns {
      width: 100%;
    }
  }

